body {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, pink , yellow, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, pink, yellow, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, pink, yellow, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red, pink , yellow, orange); /* Standard syntax */
  width:100vw;
  height:100vh;
}


div.date{
	color: white;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 10px;

}

div#date_container{
	position: absolute;
  top: 10vh;
  width: 15vw;
}

div#date1{
	font-size: 16px;
	background-color: black;

}

div#date2{
	font-size: 32px;
	background-color: black;

}

div#date3{
	font-size: 12px;
	background-color: black;
}

div#info_row{
    position:absolute;
    left:85vw;
    top:75vh;
    width:15vw;
}

div.info{
	color: white;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 10px;
}


div#info1{
	font-size: 12px;
	background-color: black;
}


div#info2{
	font-size: 12px;
	background-color: black;
}

div#info1{
	margin-top: 10vh;
}


.layer2{
    position:absolute;
    z-index:5;
}
.layer2 h4, .layer2 div, .layer2 img{  position:absolute;  }

#btn{
  position:absolute;
  cursor:pointer;
  top:10vh;
  left:47vw;
}

#line{
  background-color:black;
  width:3px;
  height:80vh;
  position:absolute;
  top:10vh;
  left:51vw;
    color:white;
}
#line-content{
    color:white;
    padding:5%;
    display:none;
    font-family: 'Droid Serif', serif;
}
#line-content input[type=text]{
    background-color:rgba(0,0,0,0);
    border-top-color:rgba(0,0,0,0);
    border-left-color:rgba(0,0,0,0);
    border-right-color:rgba(0,0,0,0);
}

#post{
    background-color:rgba(0,0,0,.8);

}
.post-thumb{
    width:20vw;
    height:auto;
    margin:3%;
    position:relative !important;
    display:inline-block;
}

#haydenjames, #autograf{
    top: 100px;
}
#haydenjames{
  position:relative;
  left:23vw;
  width:30vw;
}
#autograf{
  position:relative;
  left:19vw;
  width:30vw;
}